<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPixService" />
                <binding name="BasicHttpBinding_IEmkService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="Soap12_PixService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="Soap12_EmkService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://b2b-demo.n3health.ru/emk/PixService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPixService"
                contract="PixSvc.IPixService" name="BasicHttpBinding_IPixService" />
            <endpoint address="http://b2b-demo.n3health.ru/emk/PixService.svc/soap12"
                binding="customBinding" bindingConfiguration="Soap12_PixService"
                contract="PixSvc.IPixService" name="Soap12_PixService" />
            <endpoint address="http://b2b-demo.n3health.ru/emk/EMKService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmkService"
                contract="EmkSvc.IEmkService" name="BasicHttpBinding_IEmkService" />
            <endpoint address="http://b2b-demo.n3health.ru/emk/EMKService.svc/soap12"
                binding="customBinding" bindingConfiguration="Soap12_EmkService"
                contract="EmkSvc.IEmkService" name="Soap12_EmkService" />
        </client>
    </system.serviceModel>
</configuration>