<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
	    <connectionStrings>
		    <add name="ODBC" connectionString="DSN=d4w; Data Source=C:\d4w\base\d4w.db" />
	    </connectionStrings>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPixService" />
                <binding name="BasicHttpBinding_IEmkService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="Soap12_PixService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="Soap12_EmkService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://b2b-demo.n3health.ru/emk/PixService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPixService"
                contract="PixSvc.IPixService" name="BasicHttpBinding_IPixService" />
            <endpoint address="http://b2b-demo.n3health.ru/emk/PixService.svc/soap12"
                binding="customBinding" bindingConfiguration="Soap12_PixService"
                contract="PixSvc.IPixService" name="Soap12_PixService" />
            <endpoint address="http://b2b-demo.n3health.ru/emk/EMKService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmkService"
                contract="EmkSvc.IEmkService" name="BasicHttpBinding_IEmkService" />
            <endpoint address="http://b2b-demo.n3health.ru/emk/EMKService.svc/soap12"
                binding="customBinding" bindingConfiguration="Soap12_EmkService"
                contract="EmkSvc.IEmkService" name="Soap12_EmkService" />
        </client>
    </system.serviceModel>
	<appSettings>
		<add key="SMOSettings" value=""/>
		<add key="PatientDirectory" value="C:\d4w\Documents"/>
		<add key="PixUrl" value="http://r78-rc.zdrav.netrika.ru/EMK4/pixservice.svc"/>
		<add key="EmkUrl" value="http://r78-rc.zdrav.netrika.ru/EMK4/emkservice.svc"/>
		<add key="Guid" value="81f5396f-033e-4301-b286-dcfe81690431"/>
		<add key="IdLpu" value="2d938af8-47ce-8adb-5706-d397266f06c3"/>
		<add key="UpdateTime" value="19:00:00"/>
		<add key="DayInterval" value="15"/>
		<add key="SendingType" value="Interval"/>
		<add key="IntervalFrom" value="01.04.2021 0:00:00"/>
		<add key="IntervalTo" value="02.04.2021 0:00:00"/>
		<add key="AutoUpdate" value="1" />
	</appSettings>
	<smoSettings>
		<Doctors>
			<Doctor>
				<MemberId>1</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>22</PersCode>
				<Surname>Ананьева</Surname>
				<Name>Светлана Сергеевна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>4</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>002</PersCode>
				<Surname>Дет. Уткина</Surname>
				<Name>Елена Игоревна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>6</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>004</PersCode>
				<Surname>Дет. Горбатова</Surname>
				<Name>Мария Александровна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>10</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>006</PersCode>
				<Surname>Симаков</Surname>
				<Name>Антон</Name>
				<MiddleName>Олегович</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>11</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>007</PersCode>
				<Surname>Симакова</Surname>
				<Name>Анна Александровна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>13</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>011</PersCode>
				<Surname>Чубарова</Surname>
				<Name>Анастасия Ивановна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>15</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>013</PersCode>
				<Surname>Попов</Surname>
				<Name>Вячеслав Анатольевич</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>16</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>014</PersCode>
				<Surname>Назаренко</Surname>
				<Name>Михаил Юрьевич</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>23</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>021</PersCode>
				<Surname>Взр. Попов</Surname>
				<Name>Вячеслав Анатольевич</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>28</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>023</PersCode>
				<Surname>Уткина</Surname>
				<Name>Елена Игоревна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>30</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>010</PersCode>
				<Surname>Горбатова</Surname>
				<Name>Мария Александровна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>33</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>022</PersCode>
				<Surname>Взр. Уткина</Surname>
				<Name>Елена Игоревна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>36</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>024</PersCode>
				<Surname>Дет. Попова</Surname>
				<Name>Дарья Александровна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>38</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>025</PersCode>
				<Surname>Дет. Гайденко</Surname>
				<Name>Светлана Олеговна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>39</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>026</PersCode>
				<Surname>Гайденко</Surname>
				<Name>Светлана Олеговна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>40</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>027</PersCode>
				<Surname>Дет. Попов</Surname>
				<Name>Вячеслав Анатольевич</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>41</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>028</PersCode>
				<Surname>Шабанова</Surname>
				<Name>Людмила Викторовна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>44</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>030</PersCode>
				<Surname>Береснева</Surname>
				<Name>Ирина Александровна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>45</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>20</PersCode>
				<Surname>Орт Симакова</Surname>
				<Name>Анна Александровна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>47</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>32</PersCode>
				<Surname>Орт Ананьева</Surname>
				<Name>Светлана Сергеевна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>48</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>24</PersCode>
				<Surname>Пл. Попова</Surname>
				<Name>Дарья Александровна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>53</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>032</PersCode>
				<Surname>Взр. Гайденко</Surname>
				<Name>Светлана</Name>
				<MiddleName>Олеговна</MiddleName>
				<Sex>F</Sex>
			</Doctor>
			<Doctor>
				<MemberId>56</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>034</PersCode>
				<Surname>Дет. Гурская</Surname>
				<Name>Ирина Валентиновна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>59</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>035</PersCode>
				<Surname>Сергиевская</Surname>
				<Name>Галина Сергеевна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>62</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>036</PersCode>
				<Surname>Дет. Пестова</Surname>
				<Name>Екатерина</Name>
				<MiddleName>Станиславовна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>63</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>037</PersCode>
				<Surname>Омс  Взр. Пестова</Surname>
				<Name>Екатерина</Name>
				<MiddleName>Станиславовна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>65</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>039</PersCode>
				<Surname>Дет. Чубарова</Surname>
				<Name>Анастасия</Name>
				<MiddleName>Ивановна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>66</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>040</PersCode>
				<Surname>Взр. Чубарова</Surname>
				<Name>Анастасия</Name>
				<MiddleName>Ивановна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>67</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>041</PersCode>
				<Surname>Взр. Симакова</Surname>
				<Name>Анна</Name>
				<MiddleName>Александровна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>68</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>042</PersCode>
				<Surname>Дет. Симакова</Surname>
				<Name>Анна</Name>
				<MiddleName>Александровна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>70</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>044</PersCode>
				<Surname>Мотошина</Surname>
				<Name>Екатерина</Name>
				<MiddleName>Станиславовна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>71</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>045</PersCode>
				<Surname>Федорович</Surname>
				<Name>Евгения Витальевна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>72</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>046</PersCode>
				<Surname>Дет. Ананьева</Surname>
				<Name>Светлана</Name>
				<MiddleName>Сергеевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>73</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>047</PersCode>
				<Surname>Дет. Ибрянова</Surname>
				<Name>Анастасия</Name>
				<MiddleName>Юрьевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>74</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>048</PersCode>
				<Surname>Взр. Ананьева</Surname>
				<Name>Светлана Сергеевна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>75</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>049</PersCode>
				<Surname>Омс Шабанова</Surname>
				<Name>Людмила Викторовна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>76</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>050</PersCode>
				<Surname>Взр. Ибрянова</Surname>
				<Name>Анастасия</Name>
				<MiddleName>Юрьевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>77</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>051</PersCode>
				<Surname>Филиппов</Surname>
				<Name>Виталий</Name>
				<MiddleName>Александрович</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>78</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>052</PersCode>
				<Surname>Попов</Surname>
				<Name>Вячеслав</Name>
				<MiddleName>Анатольевич Орт</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>79</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>053</PersCode>
				<Surname>Чубаров</Surname>
				<Name>Юрий</Name>
				<MiddleName>Викторович</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>80</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>054</PersCode>
				<Surname>Дет Федорович</Surname>
				<Name>Евгения</Name>
				<MiddleName>Витальевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>81</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>055</PersCode>
				<Surname>Взр Федорович</Surname>
				<Name>Евгения</Name>
				<MiddleName>Витальевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>83</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>057</PersCode>
				<Surname>Кныревич</Surname>
				<Name>Ирина</Name>
				<MiddleName>Васильевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>84</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>058</PersCode>
				<Surname>Кныревич</Surname>
				<Name>Ирина</Name>
				<MiddleName>Васильевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>85</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>059</PersCode>
				<Surname>Евдокимова</Surname>
				<Name>Далия</Name>
				<MiddleName>Романовна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>86</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>060</PersCode>
				<Surname>Взр.Починкова</Surname>
				<Name>Полина</Name>
				<MiddleName>Андреевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>87</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>061</PersCode>
				<Surname>Дет.Починкова</Surname>
				<Name>Полина</Name>
				<MiddleName>Андреевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>88</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>062</PersCode>
				<Surname>Взр Евдокимова</Surname>
				<Name>Далия</Name>
				<MiddleName>Романовна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>89</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>063</PersCode>
				<Surname>Дет Евдокимова</Surname>
				<Name>Далия</Name>
				<MiddleName>Романовна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>90</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>064</PersCode>
				<Surname>Дет. Веснина</Surname>
				<Name>Алина Валерьевна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>91</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>065</PersCode>
				<Surname>Взр. Веснина</Surname>
				<Name>Алина Валерьевна</Name>
				<MiddleName />
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>92</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>066</PersCode>
				<Surname>Починкова</Surname>
				<Name>Полина</Name>
				<MiddleName>Андреевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>93</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>067</PersCode>
				<Surname>Сунгурова</Surname>
				<Name>Маргарита</Name>
				<MiddleName>Сергеевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>94</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>068</PersCode>
				<Surname>Подрезова</Surname>
				<Name>Анастасия</Name>
				<MiddleName>Валерьевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>95</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>069</PersCode>
				<Surname>Герасименко</Surname>
				<Name>Виктория</Name>
				<MiddleName>Юрьевна</MiddleName>
				<Sex />
			</Doctor>
			<Doctor>
				<MemberId>96</MemberId>
				<Snils />
				<Speciality>0</Speciality>
				<Position>0</Position>
				<PersCode>999</PersCode>
				<Surname>Конев</Surname>
				<Name>Алексей</Name>
				<MiddleName>Сергеевич</MiddleName>
				<Sex>M</Sex>
			</Doctor>
		</Doctors>
		<Default>
			<ConfidentialityLevel>1</ConfidentialityLevel>
			<ConfidentialityRepresentativeLevel>1</ConfidentialityRepresentativeLevel>
			<ConfidentialityDoctorLevel>1</ConfidentialityDoctorLevel>
			<IdentityCaseType>1</IdentityCaseType>
			<DiagnosisStatus>1</DiagnosisStatus>
			<DiagnosisStage>1</DiagnosisStage>
			<DiagnosisCharacter>1</DiagnosisCharacter>
			<VisitPlace>1</VisitPlace>
			<VisitPurpose>1</VisitPurpose>
		</Default>
	</smoSettings>
</configuration>